.contact_title{
    font-family: "Ubuntu Mono";
    color: var(--clr-slate400);
}
.contact {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0;
    margin-top: 10rem;
    
}
.contact__p{
    font-size: var(--size-xl);
    padding-left: 15rem;
    padding-right: 15rem;
    
}