.footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
}

.footer__title {
  font-family: "Ubuntu Mono";
  font-size: var(--size-xs);
  color: var(--clr-slate400);
  text-align: center;
  letter-spacing: 0.2em;
}

#canvas-container {
  overflow: auto;
  position: absolute;
  z-index: -1;
}