.header {
  display: flex;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
  z-index: 9999;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header__left {
  margin-right: auto;
}

.header__right {
  display: flex;
  justify-content: flex-end;
}

.header__menu {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__menu li {
  margin-left: 1.3rem;
  display: flex;
  align-items: center;
}

.header__link {
  color: var(--clr-slate400);
  text-decoration: none;
  transition: 0.3s;
}

.header__link:hover {
  color: var(--clr-blue);

}

.header__logo {
  color: var(--clr-slate400);
  text-decoration: none;
  font-size: large;
  transition: 0.3s color ease-in-out;
}

.header__logo:hover {
  color: var(--clr-blue);
}

/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 1.7em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  border: 2px solid var(--clr-slate400);
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.slider:before {
  position: absolute;
  content: "";
  height: 1.2em;
  width: 1.2em;
  left: 0.2em;
  bottom: 0.13em;
  background-color: var(--clr-toggle);
  border-radius: inherit;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
}


.switch input:checked+.slider:before {
  transform: translateX(1.7em);
}

.switch input:checked+.slider {
  box-shadow: 0 0 20px var(--clr-lightblue);
  border: 2px solid var(--clr-blue);
}

.moon svg {
  color: var(--clr-slate400);
  position: absolute;
  bottom: 5px;
  left: 35px;

  height: 20px;
}

.sun svg {
  color: var(--clr-slate400);
  position: absolute;
  bottom: 5px;
  left: 5px;

  height: 20px;
}