.hero {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-top: 12rem;
}

.hero__wrapper {
  display: flex;
  flex-direction: row;
}

.hero__img {
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  box-shadow: 0 0 10px 10px;
  animation: borderAnimation 5s infinite linear;
}

@keyframes borderAnimation {
  0% {
    box-shadow: 0 0 20px 10px var(--clr-blue);
  }

  33% {
    box-shadow: 0 0 20px 10px var(--clr-cyan);
  }

  66% {
    box-shadow: 0 0 20px 10px #4f46e5;
  }

  100% {
    box-shadow: 0 0 20px 10px var(--clr-blue);
  }
}

.hero__title {
  color: var(--clr-light);
  font-size: var(--size-6xl);
  line-height: 0.9;

}

.hero__subtitle {
  color: var(--clr-slate400);
}