.hero {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-top: 5rem;
}

.hero__wrapper {
  display: flex;
  flex-direction: row;
}
.logo {
  font-family: "Ubuntu Mono";
}

.hero__img {
  display: block;
  width: 20rem;
  height: 20rem;
  border-radius: 20%;
}

.hero__title {
  color: var(--clr-light);
  font-size: var(--size-6xl);
  line-height: 0.9;
}

.hero__subtitle {
  color: var(--clr-slate400);
}
