@media (max-width: 35em) {
    .footer__title {
        font-size: var(--size-base);
    }

    .form {
        width: 20rem;
        margin-top: -10rem;
    }

    .projects__wrapper {
        flex-direction: column-reverse;
        gap: 6.5rem;
    }

    .hero__img {
        width: 17rem;
        height: 17rem;
    }

    .hero__wrapper {
        flex-direction: column-reverse;
    }

    .hero__title {
        font-size: var(--size-4xl);
    }

    .about__title {
        margin-top: -10rem;
        font-size: var(--size-3xl);

    }

    .about__description {
        font-size: var(--size-base);
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .project__title {
        margin-top: -10rem;
        font-size: var(--size-3xl);
    }

    .article-wrapper {
        width: 10rem;
        margin-top: -5rem;
        height: 10rem;

    }

    .project__wrapper {
        gap: 2rem;
    }

    .text-nowrap {
        font-size: var(--size-lg);
    }

    .contact__form {
        margin-top: -10rem;
    }

    .contact__title {
        font-size: var(--size-3xl);
    }
}