.projects {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  margin: 1rem;
}

.projects__wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.project__title {
  font-family: "Ubuntu Mono";
  color: var(--clr-slate400);
  font-size: var(--size-5xl);
}
.card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 20rem;
  height: 17rem;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: 0.3s all ease-in-out;
  border: var(--clr-slate900) solid 1px;
  position: relative;
  background: rgba(30, 64, 175, 0.17);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
  border: 1px solid rgba(30, 64, 175, 0.53);
}
.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 16px;
  pointer-events: none;
  z-index: -1;
  transition: opacity 0.7s ease, border-color 0.3s ease; /* Added transitions */
  border: 1px solid transparent;
  opacity: 0;
}

.card:hover::before {
  border-color: var(--clr-lightblue);
  opacity: 0.75; /* Reveal on hover */
}
