.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.skill_bar {
  align-items: center;
}

.skill {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.skills_title {
  font-family: "Ubuntu Mono";
  color: var(--clr-slate400);
  font-size: var(--size-5xl);
}

.skill_name {
  font-weight: bold;
  color: var(--clr-slate400);
  font-size: var(--size-1xl);
  text-transform: uppercase;
}

.skill_per {
  text-align: center;
}