:root {
  --clr-dark: #09090b;
  --clr-light: #f1f5f9;
  --clr-slate400: #94a3b8;
  --clr-slate600: #475569;
  --clr-slate800: #1e293b;
  --clr-slate900: #0f172a;
  --clr-lightblue: #2d8cf0;
  --clr-blue: #1e40af;
  --clr-dark-blue: #1e3a8a;
  --clr-toggle: #f1f5f9;

  /* sizes */
  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;
}

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Ubuntu Mono";
  background: black;
  color: var(--clr-light);
  background-size: 30px 30px;
  background-image: linear-gradient(to right,
      rgba(14, 13, 13, 0.521) 1px,
      transparent 1px),
    linear-gradient(to bottom, rgba(29, 27, 27, 0.521) 1px, transparent 1px);

}

/* Scrollbar */
body::-webkit-scrollbar {
  width: 10px;
}

/* Track */
body::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--clr-blue);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}


strong {
  color: var(--clr-cyan);
}

.hidden {
  opacity: 0;
  transform: translateX(-100%);
  filter: blur(5px);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0%);
}