button {
  padding: 10px 20px;
  font-family: "Courier New", monospace;
  font-size: 16px;
  color: var(--clr-light);
  background-color: #000; /* black background */
  border: 2px solid var(--clr-blue);
  border-radius: 5px;
  cursor: pointer;
  outline: none; /* remove default focus outline */
}

button:hover {
  background-color: var(--clr-blue);
  color: #000; /* black text on hover */
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: red solid 1px;
}
